body {
    text-align: center;
    font-size: larger;
}

.button {
    height: 35px;
    width: 35px;
    border-radius: 20px;
    background-color: rgb(228, 222, 222);
}

#img_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#flowerImg {
    margin: 20px;
}